.tile {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  transition: transform 0.2s;
  background-color: #F1E48E;
  color: #0a632c;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid black; /* Thicker border */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow for 3D effect */
  display: flex;
  justify-content: center;
  align-items: left; /* Center the content vertically */
  
  margin:1px;
}

.tile-bottom {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #F1E48E;
  color: #0A630E;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: 4px solid black; /* Thicker border */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Add box shadow for 3D effect */
  display: flex;
  justify-content: center;
  align-items:right; /* Center the content vertically */
  flex-wrap:wrap;
  margin:1px;
  transition: transform 0.2s;
}

.grid {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  margin: 1px;
  background-color: #0b3504;
  border: 4px solid black; /* Thicker border */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  flex-wrap: wrap;
  transition: transform 0.2s;
}

.tile-content {
  font-size: 50px; /* Adjust font size */
  margin-top: 20px;
}

.tile-number {
  position: absolute; /* Set position absolute */
  bottom: 5px;
  left: 10px;
  font-size: 18px; /* Adjust font size */
  font-weight: bold;
}

.game-box {
  position: relative;
  width: 1100px;
  height: 500px;
  padding: 80px; /* Adjust padding as needed */
  border: 10px solid #033906; /* Transparent border */
  padding-bottom: 120px;
  background-color: #033906;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: -200px;
  margin-top: 80px;
}

.grid-yellow {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  font-weight: bold;
  color:black;
  background-color: #edb12f;
  border: 4px solid black; /* Thicker border */
  display: flex;
  justify-content: center;
  align-items:center; /* Center the content vertically */
  flex-wrap: wrap;
  margin:1px;
  transition: transform 0.2s;
}

.grid-dblue {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  font-weight: bold;
  color:black;
  background-color: #1940eb;
  border: 4px solid black; /* Thicker border */
  display: flex;
  justify-content: center;
  align-items:center; /* Center the content vertically */
  flex-wrap: wrap;
  margin:1px;
  transition: transform 0.2s;
}

.grid-red {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  font-weight:bold;
  color:black;
  background-color: #f637c0;
  border: 4px solid black; /* Thicker border */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  flex-wrap: wrap;
  font-weight: bold;
  font-size:25px;
   text-align: center;
   margin:1px;
   transition: transform 0.2s;
}

.grid-blue {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 0px;
  margin:1px;
  background-color: #68eff1;
  border: 4px solid black; /* Thicker border */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  flex-wrap: wrap;
  transition: transform 0.2s;
}

.nav-tile {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  background-color: #F1E48E;
  border-radius: 10px;
  border: 5px solid black; /* Thicker border */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  margin-right: 30px;
  margin-bottom: 40px;
  position: relative; /* Position relative for child positioning */
  transition: transform 0.2s;
  
}

.nav-tile-number {
  position: absolute; /* Position absolute for precise placement */
  bottom: 5px;
  left: 5px; /* Adjust as needed */
  font-size: 25px;
  font-weight: bold;
  color: #0a632c; /* Change color to match other numbers */
}

.nav-tile-content {
  color: #0a632c;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
}

a {
  text-decoration: none; /* Remove underline of the navBar tiles*/
}

 .tile:hover, .tile-bottom:hover{
  transform: scale(1.10);
}

.nav-tile:hover{
  transform: scale(1.20);
}












  