/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tile, .tile-bottom, .grid, .grid-yellow, .grid-dblue, .grid-red, .grid-blue {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 1px;
  transition: transform 0.2s;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tile, .tile-bottom {
  background-color: #F1E48E;
  color: #0A630E;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

}

.grid {
  background-color: #0b3504;
}

.grid-yellow {
  background-color: #edb12f;
  color: black;
}

.grid-dblue {
  background-color: #1940eb;
  color: black;
}

.grid-red {
  background-color: #f63737;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight:bold;
}

.grid-blue {
  background-color: #68eff1;
}

.tile-content {
  font-size: 35px;
  
}

.tile-number {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.game-box {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  background-color: #033906;
  border: 10px solid #033906;
  border-radius: 20px;
  margin: 80px auto 50px auto;
}

.tile:hover, .tile-bottom:hover {
  transform: scale(1.10);
}

/* Media Queries */
@media (max-width: 1100px) {
  .tile, .tile-bottom, .grid, .grid-yellow, .grid-dblue, .grid-red, .grid-blue {
    width: 70px;
    height: 70px;
    border: black solid 2px;
    border-radius:5px;
  }

  .tile-content {
    font-size: 34px;
  }

  .tile-number {
    font-size: 15px;
    left:5px;
    bottom:5px;
  }

  .game-box {
    width:820px;
    height:380px;
  }

  .grid-red{
    font-size:22px;
    font-weight: bold;
  }


}

@media (max-width: 900px) {
  .tile, .tile-bottom, .grid, .grid-yellow, .grid-dblue, .grid-red, .grid-blue {
    width: 50px;
    height: 50px;
    border: black solid 2px;
    border-radius:5px;
  }

  .tile-content {
    font-size: 24px;
  }

  .tile-number {
    font-size: 10px;
    left:5px;
    bottom:5px;
  }

  .game-box {
    width:620px;
    height:280px;
  }

  .grid-red{
    font-size:15px;
    font-weight: bold;
  }


}

@media (max-width: 700px) {
  .tile, .tile-bottom, .grid, .grid-yellow, .grid-dblue, .grid-red, .grid-blue {
    width: 30px;
    height: 30px;
    border: black solid 2px;
    border-radius:5px;
  }

  .tile-content {
    font-size: 14px;
  }

  .tile-number {
    font-size: 8px;
    left:5px;
    top:20px;
  }

  .game-box {
    width:350px;
    height:180px;
  }

  .grid-red{
    font-size:9.5px;
    font-weight: bold;
  }


}




